@font-face {
    font-family: 'MT100';
    src: url('../fonts/Montserrat/MT100.ttf');    
}

@font-face {
    font-family: 'MR400';
    src: url('../fonts/Montserrat/MR400.ttf');
}

@font-face {
    font-family: 'MB700';
    src: url('../fonts/Montserrat/MB700.ttf');
}